:root{
    font:18px;
}
.accordiansIntro{
    height: 3vw;
    width: 25vw;
    box-shadow:

}
.Intro{
    background-color: #0069D9;
    border-radius: .25rem;
    padding: 1vw;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: .25vw;

}
.What{
    display: none;
    border: 1px solid;
    border-radius: .25rem;
    padding: .5vw;
}
.accordiansWhere{
    box-shadow:

}
.Body{
    background-color: #0069D9;
    padding: 1vw;
    display: inline-block;
    border-radius: .25rem;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: .25vw;

}
.Where{
    display: none;
    border:1px solid;
    border-radius: .25rem;
    padding: .5vw;
}
.accordiansWhy{
    box-shadow:

}
.Conclusion{
    background-color: #0069D9;
    padding: 1vw;
    display: inline-block;
    border-radius: .25rem;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: .25vw;

}
.Why{
    display: none;
    border:1px solid;
    border-radius: .25rem;
    padding: .5vw;
}
